*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
}

.carousel{
    max-width: 1650px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel_items{
    display:  flex;
    animation: carousel 5s linear infinite; /*Set here animation speed acording to amount of your images and theier width*/
}

.carousel_img{
    display: block;
    width: 640px; /*Define image width*/
    object-fit: cover;
}

@keyframes carousel{
    100%{transform: translateX(-3200px);}/*To work good you have to multiplay your Images withouth coppies by width defined above in css*/
                                         /*In this case we got 5 images. So 5 * 640 = 3200. DO NOT MULTIPLY WIDTH BY IMAGES + COPPIES.  */
                                         /*It will end up with bad looking carousel brake */
}
